#landingConnect
{
    padding: auto;
}
.champ
{
    padding-top: 1%;
}
#envoyer
{
    margin-left: 0%;
    margin-top: 1%;
}
#inscriptionCtn
{
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
    width: auto;
    background-color: rgb(166, 197, 228);
    padding: 2%;
}
