#landing img
{
width: 100%;
}
.pix
{
    background-color: rgb(233, 233, 233);
    border: 2px;
    border-color: rgb(58, 58, 58);
    border-style: solid;
}

.profil img
{
    width: 220px;
    background-color: rgb(233, 233, 233);
    border: 2px;
    border-color: rgb(58, 58, 58);
    border-style: solid;
}

footer
{
    margin-top: 110%;
    background-color: rgb(102, 102, 102);
    bottom: 0px;
    margin-left: 25%;
}
