#landing img {
  width: 100%;
}
#landing {
  text-align: center;
}
.pix {
  padding: 1%;
  background-color: rgb(233, 233, 233);
  border: 2px;
  border-color: rgb(58, 58, 58);
  border-style: solid;
}

.profil img {
  width: 220px;
  background-color: rgb(233, 233, 233);
  border: 2px;
  border-color: rgb(58, 58, 58);
  border-style: solid;
}
#btnShoot {
  background-color: black;
  color: white;
  padding: 20px;
}
footer {
  margin-top: 110%;
  background-color: rgb(102, 102, 102);
  bottom: 0px;
  margin-left: 25%;
}
.box-container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
}
#city {
  background-color: rgba(56, 209, 209, 0.568);
}
#temp {
  background-color: rgba(134, 233, 233, 0.568);
}
#humidity {
  background-color: rgba(50, 94, 94, 0.568);
}
#wind {
  background-color: rgba(146, 209, 209, 0.568);
}
#currentPageNumber {
  font-size: 1.5em;
  color: white;
  background-color: rgba(146, 209, 209, 0.568);
}
#paginNumber {
  font-size: 1.2em;
  color: white;
  background-color: rgba(111, 161, 161, 0.568);
}
#head{
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 100px;
  background-color: rgba(146, 209, 209, 0.568);
}
.cat{

  background-color: rgba(32, 102, 102, 0.568); ;
  width: 100%;
}
.button_cat{
  width: 100%;
  background-color: rgba(108, 216, 216, 0.39); ;
}