body{
	font-family: 'FontAwesome', Arial, serif;
	margin: 0;
	padding: 0;
}
ul{
	list-style-type:none;	/*enlever les puces*/
}
@media only screen and (max-device-width:768px) { 

	#logo{	
		width: 100%;
		max-width: 200px;
		z-index: -12;
		margin: 0;
		padding: 0;
		opacity: 0.5;
		position: absolute;
		}
}
@media only screen and (max-device-width:400px){
	.point{
		display: none;
	}

	}
@media only screen and (max-device-width:521px){
	header h1{
		margin-top: 0px;
		padding-top: 2%;
		font-size:1.5em;
		line-height:20px;
	}
	p{
			line-height:12px;
	}
	#leftarrow, #righttarrow{
display: none;
	}
	}
@media only screen and (max-device-width:830px){
	header{
		min-height: 230px;
	}

}
@media only screen and (max-device-width:1220px) and (min-device-width: 1000px){
	#mac{
		position: absolute;
		left: 0px;
	}
	.uxuiseo{
		margin-left: 20px;
	}
	}
@media only screen and (max-device-width:830px){
 #retour{
 	display: none;
 }

}
@media only screen and (min-device-width:768px){
		#logo{
			position: absolute;
			top:30px;
			margin-left: 10%;
		}
}
@media only screen and (max-device-width:1000px) {     								/* medias queries pour smartphones */
	#mac{
	display: none;
	}
	#uxuiseoglobal{
	margin-right: 10%;
	margin-left: 10%;
	width: auto;

	}
	#righttarrow, #leftarrow{

	}
	.uxuiseo
	{
	width: auto;
	margin-left: 10%;
	}

	.conteneur{
	 margin: 0;
	 padding: 0;
	 justify-content: flex-start;
	}
	.conteneur2{
	margin-right: 10%;
	}
}
@media only screen and (min-device-width:1000px) {
	#uxuiseoglobal{
		margin-left: 50%;
	}
	.uxuiseo h3{
		margin-left:8%
		margin-right 10%;
	}
}
.conteneur{
	margin-top: 0;
	margin-right: 10%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.conteneur li{
	padding-top: 50px;
	width: 90px;
	height: 50px;
	text-align: center;
}
.conteneur li:hover{					/*lorsque l'on passe au dessus du lien*/
	border-top: 2px solid #6DA9C4;
}
#leftarrow{
	margin-top: 90px;
	float: left;
	position: relative;
	width: 25px;
	height: 50px;
	border-radius:  0 100% 100%  0 / 50%;
	-webkit-border-radius:  0 100% 100%  0 / 50%;
	background-color: rgba(0,0,0,0.4);
}
#leftarrowin{
	padding-top: 17px;
	padding-left: 2px;
	font-size: 1em;
}
#righttarrow{
	margin-top: 90px;
	float: right;
	width: 25px;
	height: 50px;
	border-radius:100% 0  0 100%/50%;
	-webkit-border-radius:100% 0  0 100%/50%;
	background-color: rgba(0,0,0,0.4);
}
#righttarrowin{
	padding-left: 13px;
	padding-top: 17px;
	font-size: 1em;
}
a{
	text-decoration: none;
	color: #555555;
}
@font-face { /* DÃ©finition d'une nouvelle police nommÃ©e FontAwesome */
	font-family: 'FontAwesome';
	src: url('../font/fontawesome-webfont.eot');
	src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#LearningCurveProRegular') format('svg');
}

h1{  
	padding-top: 50px;
	margin-left: 10%;
}

header a{
	color: white;
}
header {
	background-repeat: no-repeat;
	background-image: url('../images/slider/bg1.jpg');
	background-size: 100%;
	width: 100%;
	color: white;
}
header p,.info{
	margin-left: 10%;
	text-align: left;
}



.blue{
	color:#6DA9C4;
}

.info{
	padding-top: 15px;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	background-color: #6DA9C4;
	width: 125px;
	height: 30px;
	border-bottom:4px solid #4494bb;
}
hr + p{													/*les paragraphes qui suivent les hr */
	text-align: center;
	padding-bottom: 50px;
}

#services,#portfolio{ 									/*les titres h2*/
	text-align: center;
	padding-top: 30px;
}

hr.stylehr {
	border-top: 1px solid #ebebeb;
	text-align: center;
	width: 160px;
	border-bottom-color: white;
	border-left: none;
	border-right-color: white;
}
hr.stylehr::after {
	content: '●'; 					
	display: inline-block;
	position: relative;
	top: -20px;
	padding: 0 10px;
	background: white;
	color: #5cadd3;
	font-size: 30px;
}
.point{
	background:#5cadd3;
	border-radius:50%;
	width:13px;
	height:13px;
	border:5px solid white; 
	margin-left:65px;	
	z-index: 2;
	position: relative;
	bottom: 25px;
}
#mac{								/*image du Imac*/
	margin-left: 10%;
	float: left;
}

.cercle{
	float: left;
	border-radius: 50%;
	border: 2px solid rgb(215, 215, 215);
	width: 75px;
	height: 75px;
	z-index: 1;
}

i{
	padding-top: 25%;
	padding-left: 20px;
	color:#5cadd3;
}
.uxuiseo{
	text-align: left;
	padding-left: 18%;
	margin-right: 10%;
}
section p{
		color:#686c71;

}
.element2l{
	padding-left: 20px;
	padding-top: 7px;
	width: 90px;
	height: 30px;
	color: #64686d;
	background-color: #e5e5e5;
	text-align: center;
	border-radius: 5px 0 0 5px;
}
.element2l:hover{
	padding-left: 20px;
	text-align: center;
	transition-duration: 1s;
	padding-top: 7px;
	background-color: #5cadd3;
	border-radius: 5px 0 0 5px;
	color: white;
	border-bottom: 3px solid #468cad;
	z-index: 3;
}
.element2r{
	padding-left: 20px;
	padding-top: 7px;
	width: 90px;
	height: 30px;
	color: #64686d;
	background-color: #e5e5e5;
	text-align: center;
	border-radius: 0 5px 5px 0;
}
.element2r:hover{
	padding-left: 20px;
	transition-duration: 1s;
	padding-top: 7px;
	background-color: #5cadd3;
	border-radius: 0 5px 5px 0;
	color: white;
	border-bottom: 3px solid #468cad;
}
.element2{
	padding-top: 7px;
	width: 90px;
	height: 30px;
	color: #64686d;
	background-color: #e5e5e5;
	padding-left: 20px;
	z-index: 1;
}
.element2:hover{
	padding-left: 20px;
	padding-top: 7px;
	background-color: #5cadd3;
	color: white;
	border-bottom: 3px solid #468cad;
	transition-duration: 1s;
}

.element2:hover::after, .element2r:hover::after, .element2l:hover::after{
	content: '\25BC';
	color: #468cad;
	top: 28px;
	right: 40px;
	position: relative;
}

#conteneur2 .element2:hover{
    border:5px solid transparent;
    border-top:5px solid #468cad;
    border-bottom:none;
    position:absolute;
    bottom:-5px;
    left:20px;

}
#menu2{
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}
#menu2 ul{
	display: flex;
	flex-wrap: wrap;
	min-width: 100px;
}

@media only screen and (max-device-width:500px) { 
#menu2{
	margin-right: 20%;
	margin-left: 20%;
	width: auto;
}
.element2, .element2l, .element2r{
	border-radius: 0;
}
.sup{
	z-index: 2;
}
}

#p1 .fa-eye,#p2 .fa-eye,#p3 .fa-eye,#p4 .fa-eye,#p5 .fa-eye,#p6 .fa-eye,#p7 .fa-eye,#p8 .fa-eye{
	color: white;
	position: absolute;
	top: 0px;
	left: -12px;
	z-index: 2;
}
#p1 .cercle-eye,#p2 .cercle-eye,#p3 .cercle-eye,#p4 .cercle-eye,#p5 .cercle-eye,#p6 .cercle-eye,#p7 .cercle-eye,#p8 .cercle-eye{
	position: absolute;
	top: 85px;
	left: 190px;
	float: left;
	border-radius: 50%;
	border: 2px solid rgb(255, 255, 255);
	width: 30px;
	height: 30px;
	background-color: #4b9bb1;
	z-index: 1;
}
@media only screen and (max-device-width:580px) {
	#conteneur2{
	width: 290px;
	margin-left: auto;
	margin-right: auto;
		}
}

#conteneur2{
	display: flex;
	flex-wrap: wrap;
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8{
	margin-left: 30px;
	margin-top: 30px;
	position: relative;
	margin-right: auto;
}
.text{
	background-color: rgba(0,0,0,0.6);
	width: auto;
	padding-left: 10px;
	padding-top: 10px;
	height: 50px;
	margin-top: 100px;
	color: white;
	opacity: 0;

}
#p1 {
	background-image: url('../images/portfolio/01.jpg');
	width: 260px;
	height: 160px;
	background-size: 260px;
}
#p1:hover .text{
	opacity: 1;
	transition-duration: 2s;
}
#p2:hover .text{
	opacity: 1;
	transition-duration: 2s;
}
#p3:hover .text{
	opacity: 1;
	transition-duration: 2s;
}
#p4:hover .text{
	opacity: 1;
	transition-duration: 2s;
}
#p5:hover .text{
	opacity: 1;
	transition-duration: 2s;
}
#p6:hover .text{
	opacity: 1;
	transition-duration: 2s;
}
#p7:hover .text{
	opacity: 1;
	transition-duration: 2s;
}
#p8:hover .text{
	opacity: 1;
	transition-duration: 2s;
}
#p2 {
	background-image: url('../images/portfolio/02.jpg');
	width: 260px;
	height: 160px;
	background-size: 260px;
}
#p3 {
	background-image: url('../images/portfolio/03.jpg');
	width: 260px;
	height: 160px;
	background-size: 260px;
}
#p4 {
	background-image: url('../images/portfolio/04.jpg');
	width: 260px;
	height: 160px;
	background-size: 260px;
}
#p5 {
	background-image: url('../images/portfolio/05.jpg');
	width: 260px;
	height: 160px;
	background-size: 260px;
}
#p6 {
	background-image: url('../images/portfolio/06.jpg');
	width: 260px;
	height: 160px;
	background-size: 260px;
}
#p7 {
	background-image: url('../images/portfolio/07.jpg');
	width: 260px;
	height: 160px;
	background-size: 260px;
}
#p8 {
	background-image: url('../images/portfolio/08.jpg');
	width: 260px;
	height: 160px;
	background-size: 260px;
}
.pointillé{
	text-decoration: none;
	border-bottom: dotted 1px grey;
}
.info2{
	color: white;
	padding-top: 5px;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
	font-weight: bold;
	background-color: #6DA9C4;
	border-bottom:4px solid #4494bb;
}
h3{
	font-size: 28px;
}
h4{
	color: #64686d;
	font-size: 18px;
}
iframe{
	position: absolute;
	margin-left: auto;
	margin-top: 120px;
	width: 100%;
}
#formulaire{
	position: absolute;
	margin-top: 200px;
	line-height:5px;
	text-align: left;
	background-color: rgba(255,255,255,0.7);
	margin-left: 60%;
	margin-right: 10%;
	padding: 10px 10px 10px 10px;
	width: 360px;
	z-index: 10;
}
.zonetext{
	border-radius: 5px 5px 5px 5px;
	width: 320px;
	margin-top: 2%;
}
#contact{
	position: relative;

}
iframe{
	z-index: -2;
}

#filtre{
	position: absolute;
	margin-top: 120px;
	height:1200px;
	background-color: rgba(80,133,188,0.3);
	z-index: 8;
	width: 100%;
}